<html>

  <head>

    <title>Quora Clone</title>
    You are user <%= @user.username %>.
    <a href="/logout">Log Out</a>

  </head>

  <body>

    <h1>Quora Clone</h1>
    <ul>
    	<li>Post a new question <a href = "/questions/new"> here</a>.</li>
    	<li>Show all questions <a href = "/questions"> here</a>.</li>
      <br>
      <li>Show all answers <a href = "/answers"> here</a>.</li>
	</ul>

  </body>


</html>