<h2> Answer Posted </h2>

<p> Question saved on Answer id <b> <%= @answer.id %> </b> </p>
<p> Username: <b> <%= @answer.username %> </b> </p>
<p> Answer: <b> <%= @answer.text %> </b> </p>
<p> Foreign id <b> <%= @answer.question_id %> </b> </p>

<!-- <p> Show all questions <a href = "/questions"> here</a> </p> -->