<html>
<head>
</head>
<body>
  <h2>Please Login to Your Account:</h2>
  <form action='/login' method='post'>
    Username:<br>
    <input type="text" name="username" placeholder="Enter username" value=""><br>
    Password:<br>
    <input type="text" name="password" placeholder="Enter..." value=""><br>
    <input type="submit" value="Sign In">
  </form>
  <p><a href= "/register">Register here</a>
</body>
</html>
