<html>
<head>
</head>
<body>
  <h2>Register here:</h2>
  <form method='POST' action='/register'>
    Username:<br>
    <input type="text" name="username" placeholder="Register username" value=""><br>
    Password:<br>
    <input type="text" name="password" placeholder="Register password" value=""><br>
    <input type="submit" value="Create Login">
  </form>
</body>
</html>