<h2> Edit Question </h2>

<%= @find_id.text %>

<form method="POST" action= <%= "/questions/edit/" + @find_id.id.to_s %> >
	<p> Username: <input type="text" name="username"> </p>
	<p> Your question: <input type="text" name="text"> </p>
	<p> Good question? Up, neutral or down: <input type="text" name="upvote"> </p>
	<input type="submit">
</form>