<h2> New Question </h2>

<p> You are user [<%= @user.username %>].</p>

<form method="POST" action="/questions/new/done">
	<p> Username: <input type="text" name="username"> </p>
	<p> Your question: <input type="text" name="text"> </p>
	<p> Good question? Up, neutral or down: <input type="text" name="upvote"> </p>
	<input type="submit">
</form>