<h2> Question Status </h2>

<!-- <p> <%= @updated %> </p> -->

<p> Question saved on id <b> <%= @id_new_done %> </b> </p>
<p> Username: <b> <%= @username_new_done %> </b> </p>
<p> Question: <b> <%= @text_new_done %> </b> </p>
<p> Show all questions <a href = "/questions"> here</a> </p>