<h2> Question Status </h2>

<!-- <p> <%= @updated %> </p> -->

<p> Question saved on id <b> <%= @questions.id %> </b> </p>
<p> Username: <b> <%= @questions.username %> </b> </p>
<p> Question: <b> <%= @questions.text %> </b> </p>
<p> Show all questions <a href = "/questions"> here</a> </p>