<h2> List of questions </h2>

<% @questions.each do |question| %>
	<%= question.text %>
	|
	<%= question.username %>
	|
	<% question.id %>
	<a href = "questions/edit/<%= question.id %>"> Edit Me </a>
	<br>
<% end %>

<a href = "/questions/new"> Back to form </a>

<!-- @question object needed here, so other object in -->