<h2> List of questions </h2>
<p> 
	<b> Add a <a href = "/questions/new"> new</a> question </b> 
</p>

<p> <i> id || Questions || Username </i> </p>
<p>
<% @questions.each do |question| %>
	<%= question.id %>
	||
	<%= question.text %>
	||
	<%= question.username %>
	||
	<a href = "questions/<%= question.id %>"> Show Me </a>
	<br>
<% end %>
</p>


<!-- @question object needed here, so other object in -->